<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PassShed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.3.5"/>
      <add name="Microsoft SQL Server Compact Data Provider" invariant="System.Data.SqlServerCe.3.5" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory,&#xD;&#xA;          System.Data.SqlServerCe,&#xD;&#xA;          Version=3.5.1.0,&#xD;&#xA;          Culture=neutral,&#xD;&#xA;          PublicKeyToken=89845dcd8080cc91"



                                          />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <PassShed.Properties.Settings>
      <setting name="ShowCategoryWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFieldWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MenuBackColor" serializeAs="String">
        <value>SteelBlue</value>
      </setting>
      <setting name="MenuForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="RowColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="AlternatingRowColor" serializeAs="String">
        <value>LightSteelBlue</value>
      </setting>
      <setting name="GridlinesStyle" serializeAs="String">
        <value>SingleHorizontal</value>
      </setting>
      <setting name="AutosizeColumnsMode" serializeAs="String">
        <value>Fill</value>
      </setting>
      <setting name="ShowCsvGuide" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateSettings" serializeAs="String">
        <value>True</value>
      </setting>
    </PassShed.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
